.opening{
    max-width: 730px;
    margin: auto;
    padding: 10px;
}
.opening h1{    
    font-family: sans-serif;
}
.opening img{
    max-width: 100%;
    height: auto;
}
.w3-row img{
    width: 100%
}
.w3-row{
    padding: 10px;
}