body {
    margin: 0;
    box-sizing: border-box;
}

div.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 0;
    position: relative;
}


/* logo */

div.banner img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 25%;
    transition: 1.5s;
}

nav ul {
    list-style: none;
    display: none;
}


/* banner behavior on different screen width */

@media screen and (min-width: 1280px) {
    div.banner img:hover {
        width: 30%;
    }
    nav ul {
        display: inline;
    }
    div.nav-button {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    div.banner img {
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    div.banner img {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    div.banner img {
        width: 60%;
    }
}


/* navigation bar */

div.nav {
    right: 1%;
    top: 5px;
    position: absolute;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    background-color: rgba(45, 179, 0, 0.8);
    color: #FFF;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
}

nav ul li a:hover {
    background-color: rgba(45, 179, 0, 1);
}


/* dropdown button */

div.nav-button {
    padding: 10px;
    background-color: rgba(45, 179, 0, 1);
    position: absolute;
    right: 5%;
    top: 45%;
    border-radius: 12px;
    border: solid #FFF 2px;
}

div.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(45, 179, 0, 1);
    border-radius: 5px;
    font-family: sans-serif;
}

div.dropdown-content a {
    color: #FFF;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

div.dropdown-content a:hover {
    background-color: rgba(45, 100, 0, 0.8);
}

div.nav-button:hover .dropdown-content {
    display: block;
}

div.quote {
    width: 50%;
    margin: 80px auto;
    text-align: justify;
    font-size: 1.5em;
    font-family: monospace;
    color: #000;
}

div.source {
    text-align: right;
}